// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: #13042D !important;
}

.header {
  position: relative;
  // height: 0px;
  top: 0px;
  margin: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(11, 0, 208, 0.73) -6.91%, rgba(19, 4, 45, 0.73) 70.11%);
}

.nav-buttons {
  position: relative;
  margin-top: 27px;
  top: 33px;
  display: flex;
  justify-content: center;
  background: #13042D;
}

.fixed-top {
  position: fixed !important;
  top: -35px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-buttons a {
  margin: 5px;
  width: 65px;
  color: #FFFFFF;

  border-radius: 91px;
  text-align: center;
}

.activated {
  background: linear-gradient(180deg, #0B00D0 0%, #00C2FF 100%);
}

.social {
  margin: 25px;
  display: flex;
  border: #FFFFFF 1px solid;
  border-radius: 100px;
  width: 133px;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
  height: 36px;
}

.social-icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  position: relative;
  display: flex;
  width: 247px;
  /* left: 56px; */
  top: 23px;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  background: radial-gradient(58% 45.9% at 50% 45.14%, #0B00D0 0%, #13042D 70%, rgba(255, 255, 255, 0) 100%);
  // border: 1px white solid;
}

.info p {
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 200;
}

.h1 {
  font-family: 'JetBrains Mono' !important;
}

.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  /* identical to box height */
  letter-spacing: -0.035em;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 75px;
  // border: 1px white solid;
  background: radial-gradient(58% 45.9% at 50% 45.14%, #0B00D0 0%, #13042D 70%, rgba(255, 255, 255, 0) 100%);

}

.projects h1 {
  font-family: 'JetBrains Mono';
  letter-spacing: -0.035em;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
}

.projects p {
  font-weight: 200;
}

.project-header {
  // position: absolute;
  // top: 810px;
  height: fit-content;
  margin-bottom: 30px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: -0.035em;
  color: #FFFFFF;
  text-align: center;
  // border: 1px white solid;
}
.subcontainer {
  // border: #bf1919 solid 1px;
}

.dropdown {
  // display: inline-block;
}

.project {
  display: flex;
  width: auto;
  font-size: medium;
}

.project p {
  width: 290px;
}


.headshot {
  position: relative;
  right: 35px;
  object-fit: cover;
  height: 120px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 140px;
}

.list-inline {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.list-inline > li {
  display: inline-block;
}

.contact {
  color: #FFFFFF;
}

.footer {
  display: flexbox !important;
  flex: auto;
  flex-direction: column !important;
  align-items: center !important;
  position: relative;
  //hide under other content
  z-index: -1;
  margin-top: 25px;
  bottom: 0px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #FFFFFF 90%;

}

.footer-image {
  // display: flex;
  // align-items: center;
  // height: 40px;
  // width: 40px;
  text-align: center;
  object-fit: contain;
}

.fade-in {
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
}

// small screens

@media (min-width: 100px) and (max-width: 575px) {
  .info {
    font-size: 16px;
  }

  .headshot {
    margin-left: auto;
    margin-right: auto;
  }

  .project-header {
    top: 750px;
  }
  .projects {
    // top: 750px;
  }

}

// big screens

@media (min-width: 992px) {

  .header {
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(11, 0, 208, 0.73) -6.91%, rgba(19, 4, 45, 0.73) 70.11%);
  }

  .nav-buttons {
    visibility: hidden;
    display: contents;
  }

  .title {
    position: absolute;
    display: flex;
    width: 247px;
    left: 56px;
    top: 23px;
    align-items: flex-start;
    justify-content: left;
  }

  .info {
    flex-direction: row;
    top: 150px;
    font-size: 16px;
    background: none;
  }

  .social {
    margin: 25px;
    top: -200px;
    position: relative;
    right: -10px;

    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 144px;
    border: #FFFFFF 1px solid;
    border-radius: 100px;
  }

  .social-icon {
    margin: 10px;

    color: #FFFFFF;

  }

  .project-header {
    position: relative;
    // top: 125px;
  }

  .projects {
    position: relative;
    display: flexbox;
    justify-content: space-evenly;
    left: 0px;
    top: 125px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .projects h1 {
    position: relative;
    right: 8px;
  }

  .subcontainer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .dropdown {
    // display: flex;
    // flex-direction: row;
  }

  .subcontainer {
    display: flexbox;
    flex-direction: column;
    margin: 40px;
  }

  .headshot {
    margin-left: 17.5%;
  }

  .textInfo {
    width: 100%;
    margin-left: 100px;
  }

  .footer {
    right: -475px !important;
  }

}
