
.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-delay: 3s;
  opacity: 0;
  animation-iteration-count: 1; /* only play the animation once */
  animation-fill-mode: forwards; /* retain styles at end of animation */
}
.fade-in-4s {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-delay: 4s;
  opacity: 0;
  animation-iteration-count: 1; /* only play the animation once */
  animation-fill-mode: forwards; /* retain styles at end of animation */
}

.fade-in-5s {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-delay: 5s;
  opacity: 0;
  animation-iteration-count: 1; /* only play the animation once */
  animation-fill-mode: forwards; /* retain styles at end of animation */
}




@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
