// taken from: https://codepen.io/geoffgraham/pen/jrWwWM

.typewriter h1 {
  font-family: 'JetBrains Mono';
  letter-spacing: -0.035em;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  width: fit-content;
  color: #fff;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00C2FF; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  // letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 3.5s steps(13, end),
  link-caret .5s step-end 1 forwards, /* animate the cursor */
  link-caret-fade .5s 4s forwards;
}

/* The caret animation */
@keyframes link-caret-fade {
  from { border-color: #00C2FF }
  to { border-color: transparent }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 180px }
}

/* The caret animation */
@keyframes link-caret {
  from, to { border-color: #00C2FF }
  50% { border-color: transparent }
}
