<body>


<header class="header" id="top">
  <div class="row justify-content-center">
    <div class="title col">
      <div class="image">
        <img src="assets/images/Title.png" alt="logo">
      </div>
    </div>
  </div>
</header>

<div id="navbar_top" class="navbar nav-buttons sticky-top">
  <a href="#top" id="topbutton">Top</a>
  <a href="#info" id="infobutton">Info</a>
  <a href="#resume" id="resumebutton">Resume</a>
  <a href="#projects" id="projectsbutton">Projects</a>
</div>

<div id="info" class="info container">

        <div class="image headshot">
          <img src="assets/images/MeLeWag.png" alt="it me" style="
          height: 200px;
          object-fit: cover;
      ">
        </div>
      <br>
      <br>
      <br>
      <div class="textInfo">
        <div class="typewriter">
          <h1>Jonathan Rudd</h1>
          <p class="textglow">Full-stack web developer</p>
        </div>
        <p class="textglow">Ruby on Rails | HTML | CSS | JavaScript | PostgreSQL</p>


        <p class="textglow rotating-text" id="resume">
        bootcamp graduate with strong problem-solving abilities and a strong drive to continuously learn and grow as a developer.
        </p>

        <div class="resume">
          <a href="https://drive.google.com/file/d/1t6SjyBkiVm8hQ2l_8KG0iS04n3VF7db6/view?usp=sharing">Download Resume</a>
        </div>

        <div class="social">
            <a href="https://github.com/JonathanRudd" class="social-icon github" target="blank"></a>
            <a href="https://www.linkedin.com/in/jonathanmrudd/" class="social-icon linkedin" target="blank"></a>
            <a href="https://www.instagram.com/raddo.jonasan" class="social-icon insta" target="blank"></a>
        </div>
      </div>

</div>



  <div class="projects container">
    <div class="plasma-drive">
    </div>

    <div id="projects" class="project-header container">
      <h1 style="z-index: 3;">Projects</h1>
    </div>

    <div class="subcontainer-container">

      <div class="subcontainer">
        <div class="dropdown">
          <button id="toggle-button" class="btn toggle-button">Givr <span class="caret"></span></button>
          <div class="project">

              <img src="assets/images/Givr.png" alt="" class="project-img">

            <p>Working prototype of a community focused waste reduction webapp which uses image recognition to categorize items.</p>

            <div class="links">
              <a href="https://givr.site" class="">Givr.site</a>
              <a href="https://www.youtube.com/watch?v=yh8iZUNj8B8&t=4072s" class="">My Presentation</a>
              <a href="https://github.com/JonathanRudd/givr" class="" target="blank">Github</i></a>
            </div>

          </div>
        </div>
        <br>
        <div class="dropdown">
          <button id="toggle-button" class="btn toggle-button">Spaced <span class="caret"></button>
          <div class="project">
            <img src="assets/images/Spaced.png" alt="" class="project-img">
            <p>An Airbnb clone for users who want to rent or hire event spaces.</p>
            <a href="https://spaced-848.herokuapp.com/" class="">Spaced</a>
            <a href="https://github.com/JonathanRudd/Spaced" class="" target="blank">Github</i></a>
          </div>
        </div>
      </div>
      <br>
      <div class="subcontainer">
        <div class="dropdown">
          <button id="toggle-button" class="btn toggle-button">My Movies Watchlist <span class="caret"></button>
          <div class="project">
            <img src="assets/images/MyMovies.png" alt="" class="project-img">
            <p>Working prototype of a community focused waste reduction webapp which uses image recognition to categorize items.</p>
            <a href="https://jonathans-rails-watch-list.herokuapp.com/" class="">My Movies</a>
            <a href="https://github.com/JonathanRudd/rails-watch-list" class="" target="blank">
            <%# <i class="fab fa-github-square"></i> %>
            Github
            </a>
          </div>
        </div>
        <br>
        <div class="dropdown">
          <button id="toggle-button" class="btn toggle-button">Line Chatbot <span class="caret"></button>
          <div class="project">
            <img src="assets/images/chatbot.png" alt="logo" class="project-img">
            <p>A chatbot that can answer simple questions such as food reccomendations, and can identify images.</p>
            <div>
              <a href="https://github.com/JonathanRudd" class="social-icon" target="blank">Github</i></a>
              <a href="https://linevoom.line.me/user/_dTYGQ44fzQRVxX5QJ1vz5kCqEkMUGusai5I6sH0" class="" target="blank"><i class="fa fa-line"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<%# <div id="contact" class="contact">
  <h1>Contact Me</h1>
</div> %>

<footer class="footer container">
  <div class="image footer-image">
    <img src="assets/images/favicon.ico" style="width: 50px"alt="logo">
  </div>
  <div><p>2023</p></div>

</footer>




  <script>
// navbar stick to top on scroll

  document.addEventListener("DOMContentLoaded", function(){
    window.addEventListener('scroll', function() {
        if (window.scrollY > 165) {
          document.getElementById('navbar_top').classList.add('fixed-top');
          // add padding top to show content behind navbar
          navbar_height = document.querySelector('.navbar').offsetHeight;
          document.body.style.paddingTop = navbar_height + 'px';
        } else {
          document.getElementById('navbar_top').classList.remove('fixed-top');
          // remove padding top from body
          document.body.style.paddingTop = '0';
        }
    });
  });

// Navbar button highlight changes with scroll

window.addEventListener("scroll", function() {
  const element1 = document.querySelector("#topbutton");
  const element2 = document.querySelector("#infobutton");
  const element3 = document.querySelector("#resumebutton");
  const element4 = document.querySelector("#projectsbutton");
  const scrollPosition = window.scrollY;

  if (scrollPosition >= 0 && scrollPosition <= 350) {
    element1.classList.add("activated");
  } else {
    element1.classList.remove("activated");
  }

  if (scrollPosition >= 351 && scrollPosition <= 475) {
    element2.classList.add("activated");
  } else {
    element2.classList.remove("activated");
  }

    if (scrollPosition >= 476 && scrollPosition <= 620) {
    element3.classList.add("activated");
  } else {
    element3.classList.remove("activated");
  }

      if (scrollPosition >= 621 ) {
    element4.classList.add("activated");
  } else {
    element4.classList.remove("activated");
  }

});


  //project dropdowns
    const toggleButton = document.querySelectorAll('.toggle-button');
    const project = document.querySelectorAll('.project');

    const caret = document.querySelectorAll('.caret')

    toggleButton.forEach((btn, i) => {
      btn.addEventListener('click', () => {
        project[i].classList.toggle('show');
        caret[i].classList.toggle('open');
      });
    });

// also remove class from span


  </script>

</body>
